<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<title>Register</title>
<div th:replace="/header :: header"></div>

</head>

<body class="body-custom">
	<div th:replace="/header :: navbar"></div>
	<main class="page login-page">
		<section class="clean-block clean-form dark">
			<div class="container">
				<div class="block-heading">
					<h2 class="text-info">Register</h2>
				</div>
				<form id="registation" class="login-custom" th:action="@{/dangky}"
					th:object="${tkDTO}" method="POST">
					<p th:if="${param.error}" class="error" style="color: red">Invalid information, please check</p>
					<div class="register-input-group">
						<div style="width: 40%">
							<div class="form-group">
								<label for="username" style="margin-bottom: 0px !important;">Username</label><input class="form-control item" type="text"
									id="usernameDK" placeholder="Enter your username"
									th:field="*{tenTaiKhoan}" required>


							</div>
							<span id="errorUserDk" style="font-size: 15px"> <span
								class="text text-danger" style="font-size: 15px"
								th:if="${#fields.hasErrors('tenTaiKhoan')}"
								th:errors="*{tenTaiKhoan}"></span>
							</span>
							<div class="form-group">
								<label for="password" style="margin-bottom: 0px !important;">Password</label><input class="form-control" type="password" id="password"
									placeholder="Enter your password" th:field="*{matKhau}" size="6" required>

							</div>
							<span id="errorpassDK" style="font-size: 15px"><span
								class="text text-danger" style="font-size: 15px"
								th:if="${#fields.hasErrors('matKhau')}" th:errors="*{matKhau}">
							</span> </span>
						</div>
						<div style="width: 40%">
							<div class="form-group register-input"
								style="border-bottom: none !important;">
								<p>
									Full name: <input class="form-control" id="inputHVT"  type="text"
										th:field="*{hoTenKhachHang}" placeholder="Enter your full name "
										required />

								</p>
								<span class="text text-danger" id="errorHVT" style="font-size: 15px"
									th:if="${#fields.hasErrors('hoTenKhachHang')}"
									th:errors="*{hoTenKhachHang}"></span>
								<p>
									Address: <input class="form-control" id="inputDC" type="text"
										th:field="*{diaChi}" placeholder="Enter your address" required />

								</p>
								<span class="text text-danger" id="errorDC" style="font-size: 15px"
									th:if="${#fields.hasErrors('diaChi')}" th:errors="*{diaChi}">
								</span>
								<p>
									Email: <input class="form-control" type="email"
										placeholder="Enter your Email" th:field="*{email}" required />
								</p>
								<span class="text text-danger" style="font-size: 15px"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								<p>
									Phone number: <input id="sdt" class="form-control" type="text"
										spellcheck="false" placeholder="Enter your phone number"
										maxlength="10" size="10" th:field="*{soDienThoai}" required />
								</p>
								<span id="errorSDT" style="font-size: 15px"> <span
									class="text text-danger" style="font-size: 15px"
									th:if="${#fields.hasErrors('soDienThoai')}"
									th:errors="*{soDienThoai}"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group-button-group">
						<a th:href="@{/dangky}"><button class="btn btn-light"
								type="button" onclick="customReset();" style="color: white">Re-enter</button></a>
						<button id="registaionSubmit" class="btn btn-primary"
							type="submit">Register</button>

					</div>
				</form>
			</div>
		</section>
	</main>
	<footer>
		<div th:replace="/header :: footer"></div>
	</footer>
</body>

</html>