<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<div th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
	<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
	<link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
	<link rel="stylesheet" href="/assets/css/smoothproducts.css">
	<link rel="stylesheet" href="/assets/css/styles.css">
</div>
<style type="text/css">
::placeholder {
  color: white;
}</style>
</head>

<body>
	<div th:fragment="navbar">
		<nav
			class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar nav-custom" id="nav-custom">
			<div class="container">
				<a class="navbar-brand logo nav-item-custom" th:href="@{/}">HQStore</a>
				<button class="navbar-toggler" data-toggle="collapse"
					data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span><span
						class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item" role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/}">Trang chủ</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/sanpham}">Sandwiches</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/giohang}">Giỏ hàng<i class="fa fa-shopping-cart"></i></a></li>
						<th:block th:if="${#request.userPrincipal}">
						<li class="nav-item"
							role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/taikhoan}">
								<p th:text="${#request.userPrincipal.name}"></p>
						</a></li>
						<li th:if="${#request.userPrincipal.name} == 'admin'" role="presentation" class="nav-item">
									<a class="nav-link nav-item-custom" th:href="@{/quanly/sanpham}">Quản Lý</a>
								</li>
						</th:block>
						<li th:if="${#request.userPrincipal}" class="nav-item"
							role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/dangxuat}">Đăng Xuất</a></li>
						<li th:unless="${#request.userPrincipal}" class="nav-item"
							role="presentation"><a class="nav-link nav-item-custom"
							th:href="@{/dangnhap}">Đăng nhập</a></li>
						<li th:unless="${#request.userPrincipal}" class="nav-item"
							role="presentation"><a class="nav-link nav-item-custom" th:href="@{/dangky}">Đăng
								Ký</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div th:fragment="footer">
		<footer class="page-footer dark footer-custom">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h5>Bắt đầu</h5>
						<ul>
							<li><a th:href="@{/}">Trang chủ</a></li>
							<li><a th:href="@{/dangky}">Đăng ký</a></li>
							<li><a th:href="@{/dangnhap}">Đăng nhập</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h5>Thông tin</h5>
						<ul>
							<li><a th:href="@{/thongtin}">Thông tin nhóm</a></li>
							<li><a th:href="@{/thongtin}">Liên hệ</a></li>
							<li><a th:href="@{/thongtin}">Đánh giá</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h5>Chính sách</h5>
						<ul>
							<li><a th:href="@{/chinhsach}">Điều khoản về dịch vụ</a></li>
							<li><a th:href="@{/chinhsach}">Điều khoản sử dụng</a></li>
							<li><a th:href="@{/chinhsach}">Chính sách riêng tư</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© 2020 Copyright by LexZ</p>
			</div>
		</footer>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script
				src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
		<script src="/assets/js/smoothproducts.min.js"></script>
		<script src="/assets/js/theme.js"></script>
	</div>
</body>
</html>