<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<title>Quản lý Đơn hàng</title>
<div th:replace="/header :: header"></div>
<style type="text/css">
.searchCol {
	margin-bottom: 30px;
}
</style>
</head>

<body class="body-custom">
	<div th:replace="/header :: navbar"></div>
	<div th:replace="/quanly :: navbar"></div>
	<main class="page shopping-cart-page">
		<section class="clean-block clean-cart dark">
			<div class="container">
				<div class="block-heading" style="padding-top: 0px">
					<h1></h1>
					<h2 class="text-info">[[#{manage.orderManagement}]]</h2>
				</div>
				<div class="content">
					<div class="row no-gutters">
						<div class="col-md-12 col-lg-12">
							<div class="items">
								<div class="row">
									<div class="col-md-12">
										<div class="searchCol">
											<form class="form-inline mr-auto" target="_self">
												<div class="form-group">
													<input class="form-control search-field" type="search"
														name="seachTenKH" id="search-field">
												</div>
												<button type="submit"
													th:action="@{/quanly/donhang/{name}'(name=${seachTenKH})}"
													class="btn btn-primary">[[#{app.search}]]</button>
												<a th:href="@{/quanly/donhang}"><button type="button"
														style="margin-left: 10px;" class="btn btn-primary btn">[[#{app.all}]]</button></a>
											</form>
										</div>
									</div>
								</div>

								<div class="row col-lg-12 table-responsive">
									<table id="quanlydonhangTable" class="table">
										<thead>
											<tr>
												<th>[[#{register.fullName}]]</th>
												<th>[[#{register.phoneNumber}]]</th>
												<th>[[#{register.address}]]</th>
												<th>[[#{shop.amount}]]</th>
												<th><div style="display: flex; align-items: center;">
														[[#{manage.date}]]
														<form class="form-inline" target="_self">
															<div class="form-group">
																<input value="ASC" type="hidden" name="sort"
																	id="search-field">
															</div>
															<button type="submit"
																th:action="@{/quanly/donhang/{sort}'(sort=${sort})}"
																class="btn btn-primary sort">
																<i class="fa fa-arrow-up" aria-hidden="true"></i>
															</button>
														</form>
														<form class="form-inline" target="_self">
															<div class="form-group">
																<input value="DESC" type="hidden" name="sort"
																	id="search-field">
															</div>
															<button type="submit"
																th:action="@{/quanly/donhang/{sort}'(sort=${sort})}"
																class="btn btn-primary sort">
																<i class="fa fa-arrow-down" aria-hidden="true"></i>
															</button>
														</form>
													</div></th>
												<th>[[#{shop.total}]]</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="chiTietDTO : ${listDTO}">
												<td th:text="${chiTietDTO.hoTenKhachHang}"></td>
												<td th:text="${chiTietDTO.soDienThoai}"></td>
												<td th:text="${chiTietDTO.diaChi}"></td>
												<td th:text="${chiTietDTO.soLuong}"></td>
												<td th:text="${chiTietDTO.ngayLap}"></td>
												<td th:text="${'$'+chiTietDTO.getTongTien()}"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<nav>
									<ul class="pagination">
										<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
											class="page-link"
											th:href="@{/quanly/donhang(page=${pageNumber},name=${seachTenKH})}"
											th:text=${pageNumber}></a></li>
									</ul>
									<div style="display: flex; justify-content: flex-end;">
										<p style="color: blue">
											[[#{app.total}]]: <a th:text=${total}></a>
										</p>
									</div>
								</nav>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div th:replace="/header :: footer"></div>
	</footer>
</body>

</html>