<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<title>Thanh Toán</title>
<div th:replace="/header :: header"></div>
</head>

<body class="body-custom">
	<div th:replace="/header :: navbar"></div>
	<main class="page shopping-cart-page">
		<section class="clean-block clean-cart dark">
			<div class="container">
				<div class="block-heading">
					<h1></h1>
					<h2 class="text-info">[[#{shop.payMent}]]</h2>
				</div>
				<div class="content checkout-custom">
					<div class="row no-gutters">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								<div class="product">
									<div class="row justify-content-center align-items-center"
										style="color: white;" th:each="hang :${giohang}">
										<div class="col-md-3">
											<div class="product-image">
												<img class="img-fluid d-block mx-auto image"
													th:src="@{${hang.getKey().imgURL}}">
											</div>
										</div>
										<div class="col-md-2 product-info">
											<a href="#" class="product-name"
												style="color: white; font-size: 25px;"
												th:text="${hang.getKey().tenSanPham}"></a>

										</div>
										<div class="col-6 col-md-3 quantity">
											<label class="d-none d-md-block" style="color: #007bff">[[#{shop.species}]]</label><span
												class="value"
												th:text="${hang.getKey().nhaSanXuat.tenNhaSanXuat}"></span>
										</div>
										<div class="col-6 col-md-2 quantity">
											<label class="d-none d-md-block" style="color: #007bff"
												for="quantity">[[#{shop.amount}]] </label><span
												th:text="${hang.getValue()}"></span>
										</div>
										<div class="col-6 col-md-2">
											<label class="d-none d-md-block" style="color: #007bff">[[#{shop.price}]]</label>
											<h7 th:text="${'$'+hang.getKey().donGia}"></h7>
										</div>
										<a
											th:href="@{'/giohang/xoasanpham/{maSanPham}'(maSanPham=${hang.getKey().maSanPham})}"><button
												class="btn add-button" type="button">[[#{shop.delete}]]</button></a>
									</div>
								</div>
								<div class="product"></div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary checkout-info">
								<h3>[[#{payment.paymentDetails}]]</h3>
								<h4 class="total-money" style="color: #617ef3">[[#{payment.customerInformation}]]</h4>
								<span class="text">[[#{register.fullName}]]: </span><span
									class="nameValue" th:text="${khachhang.hoTenKhachHang}"></span><br>
								<span class="text">[[#{register.phoneNumber}]]: </span><span
									class="nameValue" th:text="${khachhang.soDienThoai}"></span><br>
								<span class="text">[[#{payment.addressCustomer}]]: </span><span
									class="nameValue" th:text="${khachhang.diaChi}"></span><br>
								<a th:href="@{/taikhoan}">[[#{payment.update}]]</a>
								<h4 class="total-money">
									<span class="text">[[#{shop.total}]]: </span><span
										class="price" th:text="${'$'+tongtien}"></span>
								</h4>
								<form method="post" th:action="@{/pay}">
									<input type="hidden" th:value="${tongtien}" name="price" />
									<button class="btn btn-primary btn-block btn-lg" type="submit">[[#{payment.completeAPurchase}]]</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div th:replace="/header :: footer"></div>
</body>

</html>