<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Thông tin</title>
    <div th:replace="/header :: header"></div>
</head>

<body class="body-custom">
<div th:replace="/header :: navbar"></div>
<main class="page">
	<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Our professionals </h3>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="/assets/img/avatars/vvd.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi!</h4>
                                        <p>I wish to be a rich persion.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/profile.php?id=100007956998515"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/VuVanDat0504"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Vu Van Dat</h5>
                                <span>MSSV: 16130324</span><br/>
                                <span>BE Developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="/assets/img/avatars/nvq.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello!!!</h4>
                                        <p>I'm trying to become a Fullstack Developer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/98VanQui"><i class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/MrLexZ2"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/mrlexz"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Nguyen Van Qui</h5>
                                <span>MSSV: 16130531</span><br/>
                                <span>FE Developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/86661830_1332985186908476_8422760879858122752_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=PS9OHM87F5oAX93j9cY&_nc_ht=scontent.fsgn3-1.fna&oh=3d6168a83613121021ccf1998754ebe9&oe=5F41A26F" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/ngochan.le.54922"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Ha Thi Thanh Nhu</h5>
                                <span>MSSV: 16130505</span><br/>
                                <span>Fullstack Developer</span>
                            </div>
                        </div>

                    </div>

                </div>
</main>
<footer>
    <div th:replace="/header :: footer"></div>
</footer>
</body>

</html>